/* MEDIA-QUERIES.CSS */
@media screen and (min-width: 0px) {
    #signup-col {
        border-left: none;
        border-top: 1px solid #E9E9E9;
    }
}
@media screen and (min-width: 768px) {
    #signup-col {
        border-top: none;
        border-left: 1px solid #E9E9E9;
    }
}